<tr>
  <td class="footer">
    <p>Подпишитесь на нас в социальных сетях:</p>
    <div class="social-icons">
      <a href="https://facebook.com">
        <img src="images/facebook-icon.png" alt="Facebook" />
      </a>
      <a href="https://instagram.com">
        <img src="images/instagram-icon.png" alt="Instagram" />
      </a>
      <a href="https://twitter.com">
        <img src="images/twitter-icon.png" alt="Twitter" />
      </a>
    </div>
    <p>
      © 2025 Сладкий Мир. Все права защищены.
      <br />
      <a
        href="https://example.com/unsubscribe"
        style="color: #f76c6c; text-decoration: none"
      >
        Отписаться от рассылки
      </a>
    </p>
  </td>
</tr>
